<p>add-cv works!</p>
<form [formGroup]="form">
  <!-- Name Field -->
  Name:
  <input type="text" class="form-control" formControlName="name" />
  <div *ngIf="name?.errors && name?.touched" class="alert alert-danger">
    Ce champ est obligatoire
  </div>

 
  Firstname:
  <input type="text" class="form-control" formControlName="firstname" />

 
  Age:
  <input type="text" class="form-control" formControlName="age" />


  Cin:
  <input type="text" formControlName="cin" class="form-control" />
  <div *ngIf="cin?.errors?.['cinTaken'] && cin?.touched" class="alert alert-danger">
    Cette Cin est déjà utilisée.
  </div>

 
  Job:
  <input type="text" class="form-control" formControlName="job" />


  <div *ngIf="age?.value >= 18">
    Path:
    <input type="text" class="form-control" formControlName="path" />
  </div>

  <!-- Submit Button -->
  <button [disabled]="form.invalid" class="btn btn-primary" (click)="addCv()">
    add cv
  </button>
</form>

{{ form.errors | json }}
